<h2>10 letzte Routen</h2>
<mat-list data-testid="top-routes-list">
  @for (route of topRoutes; track route.id) {
    <mat-list-item>
      <span matListItemTitle>{{ route.start }} → {{ route.destination }}<mat-icon [matTooltip]="'Routenart : ' + getProfileLabel(route.profile)" class="route-icon">{{ getProfileIcon(route.profile) }}</mat-icon></span>

      <button mat-icon-button matListItemMeta (click)="save(route)">
        <mat-icon>save</mat-icon>
      </button>
    </mat-list-item>
  } @empty {
    <mat-list-item>Bisher keine Suchanfragen getätigt</mat-list-item>
  }
</mat-list>
