<mat-card data-testid="map">
  <mat-card-header>
    <mat-card-title>
      @if (route && route.startLabel && route.destinationLabel) {
        <strong>{{ displayHelper.displayRoute(route) }}</strong>
      } @else {
        Gib ein Start- und Zielort ein um die Route anzuzeigen
      }
      @if (route && route.distance && route.duration) {

        <mat-card-subtitle>
          <div>Dauer:
            {{ (route.duration / 3600) | number:'1.0-0' }} h
            {{ ((route.duration % 3600) / 60) | number:'1.0-0' }} min
          </div>
          <div>Distanz: {{ (route.distance / 1000) | number:'1.1-1' }} km</div>
          <div>Per: <mat-icon>{{displayHelper.getProfileIcon(route.profile)}}</mat-icon>
            {{displayHelper.getProfileLabel(route.profile)}}
          </div>
        </mat-card-subtitle>
      }
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <div #mapContainer data-testid="route-polyline" id="map"></div>
  </mat-card-content>
</mat-card>

