<div class="header-row">
  <app-search-form (findRoute)="findRoute($event)"></app-search-form>
  <div class="tab-group">
    <mat-tab-group>
      <mat-tab label="Top 10 der letzten Routen"><app-top-routes [topRoutes]="topRoutes"></app-top-routes></mat-tab>
      <mat-tab label="Gespeicherte Routen"><app-saved-routes></app-saved-routes></mat-tab>
    </mat-tab-group>
  </div>
</div>

<div class="content">
  <app-map
    [geoJsonRouteData]="currentGeoJson()"
    [route]="routeStore.routeResult()">
  </app-map>
</div>
