<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">
  <mat-form-field appearance="outline">
    <mat-label>Routenart</mat-label>
    <mat-select formControlName="profile">
      @for (profile of profiles; track profile.label) {
        <mat-option [value]="profile.value">
          <mat-icon>{{ profile.icon }}</mat-icon>
          {{ profile.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start</mat-label>
    <input matInput
           type="text"
           [matAutocomplete]="autoStart"
           [formControl]="form.controls.start">
    <mat-autocomplete #autoStart="matAutocomplete"
                      [displayWith]="displaySuggestion"
                      (optionSelected)="handleStartSelected($event)">
      @for (suggestion of startSuggestions$ | async; track suggestion.id) {
        <mat-option [value]="suggestion">
          {{ suggestion.label }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ziel</mat-label>
    <input matInput
           type="text"
           [matAutocomplete]="autoDest"
           [formControl]="form.controls.destination">
    <mat-autocomplete #autoDest="matAutocomplete"
                      [displayWith]="displaySuggestion"
                      (optionSelected)="handleDestinationSelected($event)">
      @for (suggestion of destinationSuggestions$ | async; track suggestion.id) {
        <mat-option [value]="suggestion">
          {{ suggestion.label }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.controls.start.value || !form.controls.destination.value">
    Route berechnen
  </button>
  <button mat-button type="button" (click)="onClear()">Eingabe leeren</button>
</form>
